{% load static %}

<!DOCTYPE html>
<html>

<head>

  <title>Medici</title>
  <meta charset="UTF-8" />
  <meta name="description" content="Asistent za licne finansije" />
  <meta name="keywords" content="licne, finansije, asistent, medici" />
  <meta name="author" content="Foundation" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="{% static 'medici_website/css/style.css' %}" />

</head>


<body>

  <header>
    <div id="medici" title="Medici">MEDICI</div>
  </header>

  <section>
  	<div id="intro">
      <p>Asistent za lične finansije.</p>
    </div>
    <div id="stat">
      <p>Ukupno je skenirano <span id="num">{{ scanned_receipts_count }}</span> računa.</p>
    </div>
  </section>


  <footer>
  	<div id="info">
      <a href="https://third-foundation.com" target="_blank">&copy;2018 Foundation</a>
    </div>
  </footer>

</body>

</html>
