/* General */
@font-face
{
  font-family: Proxima;
  src: url(../fonts/ProximaNova-Thin.ttf) format("truetype");
}
/* Numbers */
@font-face
{
  font-family: Lato;
  src: url(../fonts/Lato-Light.ttf) format("truetype");
}
/* Footer (small text) */
@font-face
{
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
}

html
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(to left, rgba(45, 180, 45, 1), rgba(255, 249, 95, 1));
}

header
{
  margin: 0px;
  padding: 1% 0px 0px 0px;
}

#medici
{
  text-align: center;
  font-family: Proxima;
  color: rgba(20, 20, 20, 1);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 10px;
}

section
{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#intro
{
  font-family: Proxima;
  margin-top: 13%;
  font-size: 64px;
  color: rgba(20, 20, 20, 0.9);
}

#stat
{
  font-family: Proxima;
  font-size: 38px;
  color: rgba(20, 20, 20, 0.8);
}

#num
{
  font-family: Lato;
  background-color: rgba(20, 20, 20, 0.1);
  color: rgba(20, 20, 20, 0.8);
  border-radius: 10px;
  padding: 0px 8px;
}

footer
{
  position: absolute;
  bottom: 4px;
  width: 100%;
  padding: 0px;
  position: fixed;
}

#info
{
  font-family: Roboto;
  color: rgba(20, 20, 20, 0.7);
  font-size: 16px;
  text-align: center;
}


footer a:link
{
  color: rgba(20, 20, 20, 0.7);
  text-decoration: none;
}

footer a:visited
{
  color: rgba(20, 20, 20, 0.7);
  text-decoration: none;
}

footer a:hover
{
  color: rgba(20, 20, 20, 1);
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
